.proyectos__proyecto {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 52px;
  align-items: center;
  margin-bottom: 70px;
}

.proyectos__proyecto:last-child {
  margin-bottom: 0;
}

@media (max-width: 900px) {
  .proyectos__proyecto {
    grid-template-columns: 1fr;
    gap: 28px;
  }
}