@import "./__container/blog__container.css";
@import "./__head/blog__head.css";
@import "./__titulo/blogs__titulo.css";
@import "./__blogs/blogs__blogs.css";
@import "./__tarjeta/blogs__tarjeta.css";
@import "./__imagen/blogs__imagen.css";
@import "./__cuerpo/blogs__cuerpo.css";
@import "./__descripcion/blogs__descripcion.css";
.blog {
    background-color: #fafafa;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    padding: 80px 0;

}



.blog__descripcion{
    font-size: 14px;
    color: #666666;
    line-height: 1.7;
}



.btn-favorito {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  margin-left: 10px;
}

.btn-favorito svg, .btn-favorito i {
  transition: transform 0.2s ease, color 0.2s ease;
}

.btn-favorito:hover svg {
  transform: scale(1.2);
  color: darkred;
}
